:root {
  --lasuli: #416788;
  --erieblack: #1e1e1e;
  --erieblack_alpha:rgba(30, 30, 30, 0.45);
  --isabelline: #F5F0EE;
  --isabelline_alpha: #f5fdeea4;
  --red: #fd9696;
  --gray: rgba(217, 217, 217, 0.37);
}

html {
  background: var(--isabelline);
  color: var(--isabelline);
  /* filter: blur(5px);
  backdrop-filter: blur(5px) hue-rotate(180deg); */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--isabelline);
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--lasuli);
  color: var(--isabelline);
  border-radius: 0 0 30px 30px;
  height: 20vh;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 95%;
  transition: all 0.3s ease;
}

.logo:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.logo img{
  --width: 20%;
  --height: 80%;
  width: var(--width);
  height: var(--height);
  margin-top: -2em;
  object-fit: cover;
  padding: 0 10px;
}

.logo h1{
  font-family: "Imperial Script", cursive;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--isabelline);
  font-size: 60pt;
  margin-top: 30px;
  padding: 0 30px;
}

header h2 {
  font-size: 1.5em;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -55px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  color: var(--erieblack) ;
}

section article {
  --height: 55vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: var(--height);
}

section article div {
  --width:22%;
  --height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--erieblack);
  border-radius: 20px;
  transition: all 0.3s ease;
}
section article div:hover{
  transform: scale(1.03);
  box-shadow: 0 0 30px -10px var(--erieblack);
  /* cursor: pointer; */
}

section article div img{
  width: 87%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0.9em 0 0 0;
  transition: all 0.3s ease;
}
/* section article div img:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 3px;
  box-shadow: 0 0 50px -10px var(--erieblack);
} */

section article div h3 {
  font-size: 1.5em;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--isabelline);
  margin: 0 0 0.5em 0;
  width: 100%;
  text-align: center;
}

section ul {
  --width: 50%;
  --height: 40vh;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  list-style: none;
  justify-content: space-evenly;
  align-items: center ;
  align-content: space-around;
  padding: 0 20px;
  width: var(--width);
  height: var(--height);
  background-color: var(--red);
  border-radius: calc(var(--height) / 2);
  transition: all 0.2s ease;
}
section ul:hover{
  box-shadow: 0 0 20px -10px var(--erieblack);
  transform: scale(1.01);
}

section ul li {
  --size:75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--isabelline);
  width: var(--size);
  height: var(--size);
  background-color: var(--isabelline);
  border-radius: calc(var(--height) / 2);
  transition: all 0.3s ease;
  box-shadow: 0 0 30px -10px rgba(50,50,50, 0.2) inset;
}
section ul li:hover{
  background-color: var(--lasuli);
  color: var(--isabelline);
  cursor: pointer;
  color: var(--isabelline);
  transform: scale(1.1) rotate(360deg);
}
.icon {
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
  padding: 18px 18px;
}
.gen{
  background-image: url("../img/generate_black.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 36px;
}
.gen:hover{
  background-image: url("../img/generate_white.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 36px;
}

.add {
  background-image: url("../img/add_black.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
}
.add:hover{
  background-image: url("../img/add_white.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
}

.user{
  background-image: url("../img/user_black.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 36px;
}
.user:hover{
  background-image: url("../img/user_white.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 36px;
}

section ul li a {
  text-decoration: none;
  color: var(--erieblack);
}

.filter{
  position: absolute;
  right: 50px;
  width:  90px;
  height: 90px;
  background-color: var(--red);
  border-radius: 50%;
  margin: -0.7em;
  transition: all 0.3s ease;
  z-index: 100;
}

.filter:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 30px -10px var(--erieblack);
}

.filter h3{
  font-size: 1.5em;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--isabelline);
  margin: 0 0 0.5em 0;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: var(--erieblack_alpha);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  position: relative;
  background: var(--erieblack);
  padding: 1em 2em;
  border-radius:40px;
  height: 70dvh;
}

.modal:target {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: var(--lasuli);
  color: var(--isabelline);
  border-radius: 30px 30px 0 0;
}

/*ESTILOS DE Recuadro punteado para arrastrar las imágenes*/
/* CSS DE FER */
.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.upload-box {
  width: 60%;
  background: var(--erieblack);
  border-radius: 20px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.upload-box:hover {
  transform: translateY(-5px);
}

.upload-desc p {
  color: var(--isabelline);
  font-family: "IM Fell English SC", serif;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.upload-input {
  display: none;
}

.upload-label {
  display: inline-block;
  background-color: var(--red);
  color: var(--isabelline);
  padding: 1em 2em;
  font-family: "IM Fell English SC", serif;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-label:hover {
  background-color: var(--gray);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(30, 30, 30, 0.45);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
}

.modal:target {
  display: flex;
}

.upload-modal-content {
  position: relative;
  background: var(--isabelline);
  border-radius: 20px;
  width: 50%;
  max-width: 600px;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "IM Fell English SC", serif;
}

.upload-area {
  margin-top: 4em;
}

.upload-instructions {
  padding-top: 4em;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.upload-icon {
  position: absolute;
  top: 0em;
  left: 0em;
}

.upload-icon img {

  width: 120px;
  height: auto;
}

.upload-instructions p {
  color: var(--erieblack);
  font-family: "IM Fell English SC", serif;
  margin-bottom: 1em;
}

.upload-button {
  background-color: var(--red);
  color: var(--isabelline);
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: var(--gray);
}

.upload-input {
  display: none;
}

.upload-area {
  border: 2px dashed #ccc; /* Recuadro punteado */
  border-radius: 20px;
  padding: 2em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #f8f8f8; /* Color de fondo claro para destacar el área */
  min-height: 200px; /* Asegura que el área es suficientemente grande para soltar archivos */
}

.upload-button {
  position: absolute;
  bottom: 80px; /* Ajusta este valor según sea necesario */
  left: 50%; /* Centra el botón horizontalmente relativo a su contenedor padre */
  transform: translateX(-50%); /* Asegura que esté perfectamente centrado */
  background-color: var(--red);
  color: var(--isabelline);
  border: none;
  padding: 1em 2em;
  font-family: "IM Fell English SC", serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
  z-index: 10; /* Asegúrate de que el botón esté sobre otros elementos si es necesario */
}


/*ESTILOS DE Modal para los detalles de la prenda subida*/
/* Centro el título */
.details-modal-content h2 {
  text-align: center; /* Alineación al centro del título */
  font-family: "IM Fell English SC", serif;
  font-size: 2em;
  color: black;
}

.details-modal-content{
  background: var(--isabelline);
}

/* Configuración de contenedor principal para flexbox */
.form-field {
  display: flex; /* Usa flexbox para crear un diseño de columnas */
  margin: 0.5em 0;
  align-items: flex-start; /* Alinea los elementos al inicio de la cruzada */
  background: var(--isabelline);
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 0.65em; /* Increased padding for description */
  margin-top: 2em; /* Increased margin for separation */
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  font-family: "IM Fell English SC", serif;
  background-color: #D9D9D9; /* New background color */
  color: black; /* New text color */
}

#descripcion {
  padding: 1em; /* Thicker input */
}

/* Configuración de columna para imagen y detalles */
.imagen-form,
.form-detalles {
  flex: none; /* Se desactiva flex para que no tomen un espacio igual */
  margin: 0.5em; /* Espacio entre las columnas */
  width: 300px; /* Ancho fijo para las columnas */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alineación central para los elementos internos */
  border-radius: 25px;
}

.form-detalles {
  background: var(--isabelline);
  background: #F5F0EE;
}

/* Configuración para la imagen dentro de .imagen-form */
.imagen-form img {
  max-width: 90%; /* La imagen no sobrepasará su contenedor */
  max-height: 90%; /* La imagen no sobrepasará el alto del contenedor */
  object-fit: contain; /* La imagen se ajustará dentro del contenedor manteniendo su aspecto */
  padding: 25px; /* Padding para que la imagen no toque los bordes */
  border-radius: 35px; /* Bordes redondeados para la imagen */
}

/* Establece un tamaño fijo para el contenedor de la imagen, independiente del contenido */
.imagen-form {
  height: 350px; /* Alto fijo para el contenedor de la imagen */
  width: 300px; /* Ancho fijo para el contenedor de la imagen */
}

/* Configuración de los botones al final del modal */
.form-buttons {
  display: flex;
  justify-content: center; /* Esto centrará los botones en el contenedor */
  align-items: center; /* Esto alineará los botones verticalmente */
  padding: 0.45em; /* Añade algo de espacio alrededor de los botones */
}

/* Estilos base para los botones */

/* Estilos para el botón de cancelar reutilizando la clase para consistencia visual */
/* Estilos para el contenedor de los botones */
.form-buttons {
  display: flex;
  justify-content: center;  /* Centra los botones horizontalmente */
  align-items: center;  /* Alinea los botones verticalmente */
  gap: 20px;  /* Espacio entre los botones */
  padding: 1em 0;  /* Espacio arriba y abajo dentro del contenedor */
}

/* Estilos específicos para cada botón */
.cancel-button, .submit-button {
  display: inline-block;
  z-index: 10;
  background-color: var(--red);
  color: var(--isabelline);
  border: none;
  padding: 0.75em 1.5em;  /* Reducción del padding para hacer el botón más pequeño */
  font-family: "IM Fell English SC", serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

/* Añadimos hover para ambos botones */
.cancel-button:hover, .submit-button:hover {
  background-color: var(--gray);  /* Cambio de color al hacer hover */
}


/*REISTRO EXITOSO*/
/* Aplica el mismo fondo y color de texto que los inputs */
#confirmation-modal .details-modal-content {
  background: var(--isabelline);
  color: black;
  font-family: "IM Fell English SC", serif;
  text-align: center; /* Centra el texto del título y el párrafo */
}

/* Se reutilizan estilos para los botones del modal de detalles */
#confirmation-modal .form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#confirmation-modal .close-button2 {
  padding: 0.75em 1.5em;
  border-radius: 20px;
  margin: 0 0.5em;
  font-size: 1em;
  background-color: var(--red); /* Utiliza variable CSS para el color */
  color: var(--isabelline);
  font-family: "IM Fell English SC", serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirmation-modal .close-button2:hover {
  background-color: var(--gray); /* Color al pasar el cursor */
}

.form-buttons2 {
  width: 100%; /* Esto permite que el botón se centre en el espacio disponible */
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente en su contenedor */
  padding-bottom: 1em; /* Esto agrega algo de espacio en la parte inferior si es necesario */
}

.close-button2 {
  /* Tus otros estilos... */
  margin-bottom: 0; /* Asegúrate de que no haya margen extra empujando el botón hacia arriba */
}

/* CAMBIOS DE OBED */
@media (max-width: 1000px) {
  section{
    height: 200%;
    margin: 20px 10px;
  }
  article{
    flex-wrap: wrap ;
  }
  .card{
    width: 45%;
    margin: 0.5em 0;
  }
}
/* FIN CAMBIOS OBED*/

.checkmark-circle {
  width: 100px;  /* Tamaño del círculo */
  height: 100px;  /* Tamaño del círculo */
  background-color: #4CAF50;  /* Color del círculo */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.checkmark {
  width: 12px;
  height: 40px;
  border-radius: 2px;
  position: relative;
  left: 50%; /* Centro el elemento en la mitad del círculo horizontalmente */
  top: 50%; /* Centro el elemento en la mitad del círculo verticalmente */
  transform: translate(-220%, -150%) rotate(45deg); /* Ajusta la posición correctamente */
}


.checkmark:before {
  content: '';
  position: absolute;
  background-color: white;
  width: 12px;
  height: 25px;
  left: 0;
  top: 15px;  /* Ajusta para que la intersección sea en el punto correcto */
  animation: checkmark-expand-vertical 0.2s ease forwards;  /* Animación vertical primero */
}

.checkmark:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 25px;
  height: 12px;
  left: -13px;  /* Ajusta para que se extienda hacia la izquierda desde la intersección */
  top: 55px;  /* Posición vertical para que alinee con el vertical */
  animation: checkmark-expand-horizontal 0.2s ease forwards 0.2s;  /* Espera la finalización de la primera animación */
}

@keyframes checkmark-expand-vertical {
  0% {
    height: 0;  /* Inicia sin altura */
    opacity: 0;
  }
  100% {
    height: 45px;  /* Expande a la altura completa */
    opacity: 1;
  }
}

@keyframes checkmark-expand-horizontal {
  0% {
    width: 0;  /* Inicia sin ancho */
    opacity: 0;
  }
  100% {
    width: 25px;  /* Expande al ancho completo */
    opacity: 1;
  }
}
/* Estilo para todos los campos de entrada y selecciones del formulario */
.form-detalles input,
.form-detalles select {
  width: 90%; /* Controla el ancho del campo */
  padding: 0.8em; /* Añade un relleno para hacer más fácil la escritura */
  margin-top: 1em; /* Espacio entre los campos */
  border: none; /* Remueve el borde predeterminado */
  border-radius: 10px; /* Bordes redondeados */
  background-color: var(--isabelline); /* Color de fondo claro */
  color: var(--erieblack); /* Color del texto */
  font-family: 'IM Fell English SC', serif; /* Tipo de letra del tema */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra ligera para profundidad */
}

.form-detalles select {
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es interactivo */
}

/* Estilo para los botones del formulario */
.form-buttons button {
  background-color: var(--red); /* Color de fondo para el botón */
  color: var(--isabelline); /* Color del texto */
  border: none; /* Sin bordes */
  padding: 0.8em 2em; /* Padding generoso para facilidad de clic */
  font-size: 1em; /* Tamaño de letra adecuado */
  font-family: 'IM Fell English SC', serif; /* Tipo de letra del tema */
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer; /* Indica que el botón es clickeable */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.form-buttons button:hover {
  background-color: var(--gray); /* Cambio de color al pasar el cursor */
}
