:root {
  --lasuli: #416788;
  --erieblack: #1e1e1e;
  --isabelline: #F5F0EE;
  --isabelline_alpha: #f5fdeea4;
  --red: #fd9696;
  --gray: rgba(217, 217, 217, 0.37);
}

html {
  background: var(--isabelline);
  scroll-behavior: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--isabelline);
}
header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--lasuli);
  color: var(--isabelline);
  border-radius: 0 0 30px 30px;
  height: 20vh;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 95%;
  transition: all 0.3s ease;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo img {
  --width: 20%;
  --height: 80%;
  width: var(--width);
  height: var(--height);
  /* margin-top: -2em; */
  object-fit: cover;
  padding: 0 10px;
}

.logo h1 {
  font-family: "Imperial Script", cursive;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--isabelline);
  font-size: 60pt;
  margin-top: 30px;
  padding: 0 30px;
}

header h2 {
  font-size: 1.5em;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -55px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
  color: var(--isabelline);
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: var(--erieblack);
  padding: 3em;
  height: auto;
  width: 40%;
  border-radius: 30px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  height:70px;
  border-radius: 40px;
  border: none;
  margin: 10px auto;
  background: var(--gray);
  color: var(--isabelline);
  font-size: 16pt;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  padding: 0 30px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: var(--isabelline_alpha);
  font-size: 18pt;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  padding-left: 43px;
  transition: all 0.3s ease;
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
  transform: translate(-20px, -50px);
  font-size: 16pt;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  padding-left: 40px;
}

.usr-icon::placeholder {
  background-image: url("/img/user.png");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 20px;
}

.pass-icon::placeholder {
  background-image: url("/img/pass.png");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 30px;
}

input[type="submit"] {
  width: 45%;
  height: 50px;
  padding: 0.5em;
  border: none;
  border-radius: 40px;
  background: var(--red);
  margin: 10px 0;
  color: var(--isabelline);
  font-size: 16pt;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background: #ff7f7f;
  transform: scale(1.04);
}

input[type="submit"]:active {
  background: #ff4f4f;
}

input[type="submit"]:focus {
  outline: none;
}

a {
  color: var(--isabelline);
  font-size: 16pt;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  text-decoration: none;

  transition: all 0.3s ease;
}

a:hover {
  color: var(--red);
}

footer {
  background: var(--lasuli);
  color: var(--isabelline);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14.8vh;
  border-radius: 30px 30px 0 0;
}

footer p{
  padding: 4% 0;
}